.css-table {
    width: 600px;
    margin: 40px 25%;
}
/*.css-peoples-table {
    position: absolute;
    left: calc(50% - 300px);
    top: 25%;
}
.css-company-table {
    position: absolute;
    left: calc(50% - 300px);
    top: 5%;
}*/
